<?php $this->partial('partials/top-menu-admin'); ?>
<?php $this->partial('partials/side-bar-menu-admin'); ?>
<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="#">Inicio</a>
				</li>
				<li class="active">Estudiantes</li>
				</ul><!-- /.breadcrumb -->
			</div>
			<div class="page-content">
				<!-- en este patrials podemos tener acceso a los elementos de configuracion -->
				<div class="row">
					<div class="col-xs-12">
						<!-- PAGE CONTENT BEGINS -->
						
						<div class="row">
								<!-- Container crear estudiante -->
								<div class="col-sm-12 col-md-4">
									<div class="widget-box transparent">
										<div class="widget-header widget-header-flat">
											<h4 class="widget-title lighter">
											<i class="ace-icon fa fa-signal"></i>
											Registrar Estudiante
											</h4>
											
										</div>
										<div class="widget-body">
											<div class="widget-main padding-4">
	                                    <?php echo $this->getContent(); ?>
										<?php
										    echo $this->tag->form(
										        [
										            "admin/createEstudiantes",
										            "autocomplete" => "off",
										            "class" => "form-horizontal"
										        ]
										    );
										?>
												<div class="col-sm-12">
													<label for="nombre">Nombre</label>
													<input type="text" name="nombre" required data-index="1"  class="form-control">
												</div>
												<div class="col-sm-12">
													<label for="apellido">Apellido</label>
													<input type="text" name="apellido" data-index="2" required  class="form-control">
												</div>
												<div class="col-sm-6">
													<label for="f_nacimiento">Fecha de nacimiento</label>
													<input type="date" name="f_nacimiento" data-index="2" required  class="form-control">
												</div>

												<br>
												<div class="col-sm-12 boton-guardar">
													<button type="sumbit" class="btn btn-pink imprecion-btn">Registrar Estudiante</button>

												</div>
														
										<?php echo $this->tag->endForm(); ?>
											</div>
										</div>
									</div>
								</div>
								<!-- //Container crear materias -->
								<!-- Container materias registradas -->
								<div class="col-sm-12 col-md-8">
									<div class="widget-box transparent">
										<div class="widget-header widget-header-flat">
											<h4 class="widget-title lighter">
											<i class="ace-icon fa fa-signal"></i>
											Lista de estudiantes
											</h4>

											
										</div>
										<div class="widget-body">
											<div class="widget-main padding-4">
												<div id="result-save"></div>
												<!-- en elsiguienete elemento se mostraran los estudiantes inscritos-->
												<table class="table table-trans">
													<thead>
														<tr>
														<th>#</th>
														<th>Nombre</th>
														<th>Apellido</th>
														<th>Fecha de nacimiento</th>
														<th>Accion</th>
													</tr>
												</thead>
												<tbody class="input_fields_wrap">
									<?php $i =0 ; ?>
									<?php foreach ($estudiantes as $estudiante) {
									$i++;
									?>
									<tr>
										<td><?php echo $i; ?></td>
										<td><?php echo $estudiante->nombre; ?></td>
										<td><?php echo $estudiante->apellido; ?></td>
										<td><?php echo $estudiante->f_nacimiento; ?></td>
     								    <td>

										<span  type="button" onclick="asignar('<?php echo $estudiante->id; ?>');">
  									    	<a href="#" class="asig-materias" data-toggle="tooltip" data-placement="top" title="Asignar materias"><i class="fa fa-book" aria-hidden="true"></i></a>
										</span>

										<span  type="button" onclick="verMaterias('<?php echo $estudiante->id; ?>');">
  									    	<a href="#" class="asig-materias" data-toggle="tooltip" data-placement="top" title="Ver materias Asignadas"><i class="fa fa-eye" aria-hidden="true"></i></a>
										</span>

     								    	<?php echo $this->tag->linkTo(["admin/delete_estudiante/" . $estudiante->id, '<i class="fa fa-trash" aria-hidden="true"></i>']); ?>
     								    		
     								    </td>

									</tr>
									
									<?php } ?>

									</tbody>
											</table>
											<div class="input-hidden">
												
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- //Container materias registradas-->

					</div>
					<div class="hr hr32 hr-dotted"></div>
					<!-- PAGE CONTENT ENDS -->
					</div><!-- /.col -->
					</div><!-- /.row -->
					</div><!-- /.page-content -->
					</div><!-- /.main-content-inner -->
					</div><!-- /.main-content -->
					<div class="footer">
						<div class="footer-inner">
							<div class="footer-content">
								<span class="bigger-120">
									<span class="blue bolder">Sistema MiPc </span>
								Examen practico &copy; 2018	</span>
								&nbsp; &nbsp;
								<span class="action-buttons">
									<a href="#">
										<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
									</a>
									<a href="#">
										<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
									</a>
									<a href="#">
										<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
									</a>
								</span>
							</div>
						</div>
					</div>
                  <?php $this->partial('partials/modal-admin'); ?>