<?php $this->partial('partials/top-menu-admin'); ?>
<?php $this->partial('partials/side-bar-menu-admin'); ?>
<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="#">Inicio</a>
				</li>
				<li class="active">Materias</li>
				</ul><!-- /.breadcrumb -->
			</div>
			<div class="page-content">
				<!-- en este patrials podemos tener acceso a los elementos de configuracion -->
				<div class="row">
					<div class="col-xs-12">
						<!-- PAGE CONTENT BEGINS -->
						
						<div class="row">
								<!-- Container crear materias -->
								<div class="col-sm-12 col-md-4">
									<div class="widget-box transparent">
										<div class="widget-header widget-header-flat">
											<h4 class="widget-title lighter">
											<i class="ace-icon fa fa-signal"></i>
											Crear materias
											</h4>
											
										</div>
										<div class="widget-body">
											<div class="widget-main padding-4">
	                                    <?php echo $this->getContent(); ?>
										<?php
										    echo $this->tag->form(
										        [
										            "admin/createMaterias",
										            "autocomplete" => "off",
										            "class" => "form-horizontal"
										        ]
										    );
										?>
												<div class="col-sm-12">
													<label for="nombre">Nombre del Materia</label>
													<input type="text" name="nombre" required data-index="1"  class="form-control">
												</div>
												<div class="col-sm-12">
													<label for="profesor">Nombre del Profesor</label>
													<input type="text" name="profesor" data-index="2" required  class="form-control">
												</div>
												<div class="col-sm-6">
													<label for="horario">Horario</label>
													<select  name="horario" required data-index="6" class="form-control">
														<option value="7:00 AM - 9:00 AM">9:00 AM - 12:00 Am</option>
														<option value="9:00 AM - 12:00 AM">9:00 AM - 12:00 AM</option>
														<option value="1:00 PM - 3:00 PM">1:00 PM - 3:00 PM</option>
														<option value="3:00 PM - 5:00 PM">3:00 PM - 5:00 PM</option>
														<option value="5:00 PM - 7:00 PM">5:00 PM - 7:00 PM</option>
													</select>
												</div>
											    <div class="col-sm-6">
													<label for="aula">Aula</label>
													<select  name="n_aula" required data-index="6" class="form-control">
														<option value="Aula 01">Aula 01</option>
														<option value="Aula 02">Aula 02</option>
														<option value="Aula 03">Aula 03</option>
														<option value="Aula 04">Aula 04</option>
														
													</select>
												</div>
												<br>
												<div class="col-sm-12 boton-guardar">
													<button type="sumbit" class="btn btn-pink imprecion-btn">Guardar Materia</button>

												</div>
														
										<?php echo $this->tag->endForm(); ?>
											</div>
										</div>
									</div>
								</div>
								<!-- //Container crear materias -->
								<!-- Container materias registradas -->
								<div class="col-sm-12 col-md-8">
									<div class="widget-box transparent">
										<div class="widget-header widget-header-flat">
											<h4 class="widget-title lighter">
											<i class="ace-icon fa fa-signal"></i>
											Lista de materias
											</h4>

											
										</div>
										<div class="widget-body">
											<div class="widget-main padding-4">
												<!-- en elsiguienete elemento se mostraran los ticket jugados-->
												<table class="table table-trans">
													<thead>
														<tr>
														<th>#</th>
														<th>materia</th>
														<th>profesor</th>
														<th>Horario</th>
														<th>aula</th>
														<th>estatus</th>
														<th>Accion</th>
													</tr>
												</thead>
												<tbody class="input_fields_wrap">
									<?php $i =0 ; ?>
									<?php foreach ($materias as $materia) {
									$i++;
									if ( $materia->estatus == 1) {
									$class = "active-class-td";
									$label = "Activo";
									}else{
									$class = "desactive-class-td";
									$label = "Inactiva";
									}
									?>
									<tr>
										<td><?php echo $i; ?></td>
										<td><?php echo $materia->nombre; ?></td>
										<td><?php echo $materia->profesor; ?></td>
										<td><?php echo $materia->horario; ?></td>
										<td><?php echo $materia->n_aula; ?></td>
										<td class="<?php echo $class; ?>"><?php echo $label; ?></td>
										<td><?php echo $this->tag->linkTo(["admin/delete_materia/" . $materia->id, '<i class="fa fa-trash" aria-hidden="true"></i>']); ?></td>
									</tr>
									
									<?php } ?>

									</tbody>
											</table>
											<div class="input-hidden">
												
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- //Container materias registradas-->

					</div>
					<div class="hr hr32 hr-dotted"></div>
					<!-- PAGE CONTENT ENDS -->
					</div><!-- /.col -->
					</div><!-- /.row -->
					</div><!-- /.page-content -->
					</div><!-- /.main-content-inner -->
					</div><!-- /.main-content -->
					<div class="footer">
						<div class="footer-inner">
							<div class="footer-content">
								<span class="bigger-120">
									<span class="blue bolder">Sistema MiPc </span>
								Examen practico &copy; 2018	</span>
								&nbsp; &nbsp;
								<span class="action-buttons">
									<a href="#">
										<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
									</a>
									<a href="#">
										<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
									</a>
									<a href="#">
										<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
									</a>
								</span>
							</div>
						</div>
					</div>
