<!-- Modal asignar materias-->
<div id="materias" class="modal fade bd-example-modal-lg" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <form  role="form" method="post" action="javascript:void(0);" enctype="application/x-www-form-urlencoded" name="asignarMaterias" id="asignarMaterias">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Asignacion de Materias</h4>
        </div>
        <div class="modal-body">

          <div class="row" id="container-Asignar-Materias">

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="sumbit" class="btn btn-success">Asignar</button>
        </div>
      </div>
    </form>
  </div>
</div>


<!-- Modal asignar materias-->
<div id="materiasAsignadas" class="modal fade bd-example-modal-lg" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <form  role="form" method="post" action="javascript:void(0);" enctype="application/x-www-form-urlencoded" name="MateriasAsignadas" id="MateriasAsignadas">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Asignacion de Materias</h4>
        </div>
        <div class="modal-body">
          <table  class="table table-trans" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Materia</th>
                        <th>horario</th>
                        <th>Profesor</th>
                        <th>Aula</th>
                        <th>Calificacion</th>
                    </tr>
                </thead>
                <tbody id="container-Materias">

        </tbody>
      </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="sumbit" class="btn btn-success">Asignar</button>
        </div>
      </div>
    </form>
  </div>
</div>
