		<div class="main-container ace-save-state" id="main-container">
			<div id="sidebar" class="sidebar responsive ace-save-state">
				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
					<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
						<a href="/crear-materias" class="btn btn-success">
							<i class="ace-icon fa fa-signal"></i>
						</a>

						<a href="/estudiantes" class="btn btn-info">
							<i class="ace-icon fa fa-users"></i> 
						</a>
						
					</div>

					<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>
				</div><!-- /.sidebar-shortcuts -->

				<ul class="nav nav-list">
					<li class="active">
						<a href="/crear-materias">
							<i class="menu-icon fa fa-signal"></i>
							<span class="menu-text"> Crear Materia</span>
						</a>

						<b class="arrow"></b>
					</li>
                    <li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-users""></i>
							<span class="menu-text">
								Estudiantes
							</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">

							<li class="">

                           <?php echo $this->tag->linkTo(["admin/estudiantes/", '<i class="menu-icon fa fa-caret-right"></i> Registrar']); ?>


								
								<b class="arrow"></b>
							</li>

						</ul>
					</li>
                   			

					

	
				</ul><!-- /.nav-list -->

				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>