span.yellow {
    color: yellow;
}
.btn.btn-app.ace-settings-btn.btn-xs {
    width: 30px !important;
}
.navbar .navbar-brand {
    color: #FFF;
    font-size: 24px;
    text-shadow: none;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    display: inline-flex;
}
a.navbar-brand img {
    width: 114%;
    margin-right: 4px;
    position: relative;
    top: -1px;
}
.panel.panel-default.venta-ticket {
    margin-top: 20px !important;
    background: rgb(135, 184, 127) !important;
    color: #ffffff !important;
}
button.btn.btn-white {
    margin-top: 25px;
    background: yellow !important;
    border: 1px solid #afafaf;
}
input.grenn-number {
    background: rgba(1, 146, 0, 0.72) !important;
    color: white;
    border: none;
    border-radius: 6px !important;
    text-align: center;
}
input.black-number {
    background: #5d5d5d !important;
    color: white;
    border: none;
    border-radius: 6px !important;
    text-align: center;
}
input.red-number {
    background: rgb(162, 0, 0) !important;
    color: white;
    border: none;
    border-radius: 6px !important;
    text-align: center;
}
input.btn.btn-default.btn-agregar {
    background: transparent !important;
    color: rgba(0, 0, 0, 0.37) !important;
    border: none;
    cursor: cell;
}
button.imprecion-btn {
    float: right;
}
small.small-red {
    float: right;
    color: #d6487e;
}
span.label.label-lg.label-black-number.arrowed-right {
    background: #4a4a4a;
}
.label-black-number:after {
    border: 1px solid transparent;
    border-left-color: #4a4a4a !important;
}
span.label.label-lg.label-red-number.arrowed-right {
    background: #bd0000;
}
.label-red-number:after {
    border: 1px solid transparent;
    border-left-color: #bd0000 !important;
}
span.label.label-lg.label-grenn-number.arrowed-right {
    background: #1c8e0a;
}
.label-grenn-number:after {
    border: 1px solid transparent;
    border-left-color: #1c8e0a !important;
}
span.po-denomitar {
    color: #9a1600;
    font-size: 9px;
    font-weight: 600;
    font-style: inherit;
}
div#total-monto {
    float: right;
    margin-right: 15px;
    font-size: 23px;
    color: #828282;
    background: yellow;
    padding: 3px 40px;
    border-radius: 5px;
    margin-top: -7px;
}
.total {
    color: black;
    background: yellow;
    padding: 10px;
}
.total span {
    float: right;
    background: #ca006e;
    padding: 5px;
    margin-top: -5px;
    color: white;
}

.list-balance div {
    display: inline-block;
    padding: 5px 25px;
    margin-left: 40px;
    text-align: center;
}
.button-containr span {
    color: #777777;
}
.col-sm-12.boton-guardar {
    margin-top: 55px;
}
li.name-agencia {
    margin-right: 20px;
}
td.active-class-td {
    background: #5abb62;
    text-align: center;
    color: white;
}


td.desactive-class-td {
    background: #e8e8e8;
    text-align: center;
    color: #949494;
}
td.td-onclik {
    cursor: pointer;
}
td.td-onclik:hover {
    background: #eaeaea;
}
td.container-li ul li {
    list-style: none;
    display: inline;
    padding: 5px 10px;
}
td.container-li ul li i {
    background: #438eb9;
    padding: 8px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
i.fa.fa-trash {
    font-size: 18px;
    color: red;
}
i.fa.fa-bar-chart {
    background: #00a023;
}
a.btn.btn-info.pull-rigth {
    float: right;
    margin-top: -7px;
}
.boton-register-agencia {
    text-align: center;
}
.boton-register-agencia a {
    background: #438eb9;
    padding: 10px;
    color: white;
    border-radius: 4px;
}
a.asig-materias {
    margin-right: 20px;
    font-size: 18px;
}
.sin-contenido {
    padding: 20px;
}

